@import "tailwindcss";

@theme {
  --color-porcelain: #fffafa;      /* soft white */
  --color-beige: #fde8ef;          /* light pink section bg */
  --color-palm-leaf: #d86f95;      /* main pink */
  --color-carbon-black: #2b2024;   /* dark text */
  --color-onyx: #1f171a;           /* footer dark */
}